.gumb {
    height: 420px;
    width: 100%;
}

.ozadje {
    background-color: white;
}

.change-font {
    font-family: "Trebuchet MS", "Lucida Grande";
}

.dr_datum {
    color: #5bc0de !important; 
}

.koledar-zdravnik {
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.dont-display {
    display: none;
}

.odmik {
    margin-top: 20px;
}

.zavrni {
    margin-left: 30px;
}

.drop_down {
    margin-top: 20px;
}

.gumb: hover {
    color: #ffffff !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

#minute {
    margin-left: 10px;
}

#pacient {
    height: 350px;
}

#noga {
    margin-top: 25px;
}

#datum {
    margin-top: 15px;
}

#ura {
    margin-bottom: 15px;
}
