.gumb {
    height: 420px;
    width: 100%;
}

.ozadje {
    background-color: white;
}

.change-font {
    font-family: "Trebuchet MS", "Lucida Grande";
}

.change-font-barva {
    font-family: "Trebuchet MS", "Lucida Grande";
    color: #103d47 !important;
}

.dr_datum {
    color: #5bc0de !important; 
}

.koledar-zdravnik {
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.dont-display {
    display: none;
}

.odmik {
    margin-top: 20px;
}

.zavrni {
    margin-left: 30px;
}

.drop_down {
    margin-top: 20px;
}

#minute {
    margin-left: 10px;
}

#pacient {
    height: 350px;
}

#noga {
    margin-top: 25px;
}

#datum {
    margin-top: 15px;
}

#ura {
    margin-bottom: 15px;
}

.izbran-termin, .izbrana-ura, .izbran-datum {
    border: 5px;
    border-color: #5bc0de;
    background-color: #5bc0de !important;
}

.termin, .ura, .datum {
    background-color: #a1d6e2;
}
